{% load static %}

<aside id="sidebar" class="js-sidebar">
    <div class="h-100">
        <div class="sidebar-logo">
            <a href="{% url 'index' %}">
                <img src="{% static 'image/logo.png' %}" alt="logo" style="max-width: 75px; max-height: 200px;">
                <span class="welcome-text">TailTales</span>
            </a>
        </div>

        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Dashboard Elements
            </li>
            {% if request.user.is_doctor %}
            <li class="sidebar-item">
                <a href="{% url 'doctor_dashboard' %}" class="sidebar-link">
                    <i class="fa-solid fa-list pe-2"></i>
                    Doctor Dashboard
                </a>
            </li>
            {% elif request.user.is_patient %}
            <li class="sidebar-item">
                <a href="{% url 'user_dashboard' %}" class="sidebar-link">
                    <i class="fa-solid fa-list pe-2"></i>
                    Dashboard
                </a>
            </li>
            {% elif request.user.is_admin %}
            <li class="sidebar-item">
                <a href="{% url 'admin_dashboard' %}" class="sidebar-link">
                    <i class="fa-solid fa-list pe-2"></i>
                    Admin Dashboard
                </a>
            </li>
            {% elif request.user.is_operator %}
            <li class="sidebar-item">
                <a href="{% url 'operator_dashboard' %}" class="sidebar-link">
                    <i class="fa-solid fa-list pe-2"></i>
                    Operator Dashboard
                </a>
            </li>
            {% endif %}
            <!--  -->
            {% if request.user.is_admin %}
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-target="#time" data-bs-toggle="collapse"
                    aria-expanded="false"><i class="fa-regular fa-clock pe-2"></i>
                    Office Hours
                </a>
                <ul id="time" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="{% url 'admin_timeslots' %}" class="sidebar-link">Add time slots</a>
                    </li>
                </ul>
            </li>
            {% endif %}
            <!--  -->
            {% if request.user.is_patient %}
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-target="#pages" data-bs-toggle="collapse"
                    aria-expanded="false"><i class="fas fa-calendar-alt pe-2"></i>
                    Appointment
                </a>
                <ul id="pages" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="{% url 'appointment_booking' %}" class="sidebar-link">Book Appointment</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="{% url 'user_appointment_list' %}" class="sidebar-link">Appointment History</a>
                    </li>
                </ul>
            </li>
            {% elif request.user.is_doctor %}
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-target="#pages" data-bs-toggle="collapse"
                    aria-expanded="false"><i class="fas fa-calendar-alt pe-2"></i>
                    Appointment
                </a>
                <ul id="pages" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="{% url 'doctor_all_appointments' %}" class="sidebar-link">View All Appointments</a>
                    </li>
                </ul>
            </li>
            {% elif request.user.is_admin %}
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-target="#pages" data-bs-toggle="collapse"
                    aria-expanded="false"><i class="fas fa-calendar-alt pe-2"></i>
                    Appointment
                </a>
                <ul id="pages" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="{% url 'admin_appointment_details' %}" class="sidebar-link">Appointments History</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="{% url 'admin_service_records' %}" class="sidebar-link">Service Records</a>
                    </li>
                </ul>
            </li>
            {% elif request.user.is_operator %}
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-target="#pages" data-bs-toggle="collapse"
                    aria-expanded="false"><i class="fas fa-calendar-alt pe-2"></i>
                    Appointment
                </a>
                <ul id="pages" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="{% url 'operator_appointment_all' %}" class="sidebar-link">Appointments History</a>
                    </li>
                </ul>
            </li>
            {% endif %}
            <!--  -->
            {% if request.user.is_patient %}
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-target="#posts" data-bs-toggle="collapse"
                    aria-expanded="false"><i class="fas fa-file-invoice-dollar pe-2"></i>
                    Billing
                </a>
                <ul id="posts" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="{% url 'user_payment_list' %}" class="sidebar-link">Payment History</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="{% url 'user_generate_bill' %}" class="sidebar-link">Generate Bill</a>
                    </li>
                </ul>
            </li>
            {% elif request.user.is_doctor %}
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-target="#posts" data-bs-toggle="collapse"
                    aria-expanded="false"><i class="fas fa-file-invoice-dollar pe-2"></i>
                    Patient details
                </a>
                <ul id="posts" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="{% url 'doctor_patient_details' %}" class="sidebar-link">View Patient Details</a>
                    </li>
                </ul>
            </li>
            {% elif request.user.is_admin %}
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-target="#posts" data-bs-toggle="collapse"
                    aria-expanded="false"><i class="fas fa-file-invoice-dollar pe-2"></i>
                    User details
                </a>
                <ul id="posts" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="{% url 'admin_operator_records' %}" class="sidebar-link">Operator Records</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="{% url 'admin_doctor_records' %}" class="sidebar-link">Doctor / Vet Records</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="{% url 'admin_petowner_records' %}" class="sidebar-link">Pet Owner Records</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="{% url 'admin_patient_records' %}" class="sidebar-link">Patient Records</a>
                    </li>
                </ul>
            </li>
            {% elif request.user.is_operator %}
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-target="#posts" data-bs-toggle="collapse"
                    aria-expanded="false"><i class="fas fa-file-invoice-dollar pe-2"></i>
                    User details
                </a>
                <ul id="posts" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="{% url 'operator_doctor' %}" class="sidebar-link">Doctor / Vet Records</a>
                    </li>
                    <li class="sidebar-item">
                        <a href="{% url 'operator_petowner' %}" class="sidebar-link">Pet Owner / Patient Records</a>
                    </li>
                </ul>
            </li>
            {% endif %}
            <!--  -->
            {% if request.user.is_admin %}
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-target="#au" data-bs-toggle="collapse"
                    aria-expanded="false"><i class="fa-regular fa-credit-card pe-2"></i>
                    Payment
                </a>
                <ul id="au" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="" class="sidebar-link">Payment History</a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-target="#co" data-bs-toggle="collapse"
                    aria-expanded="false"><i class="fa fa-phone pe-2"></i>
                    Contacts
                </a>
                <ul id="co" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="{% url 'admin_contact' %}" class="sidebar-link">Contact Records</a>
                    </li>
                </ul>
            </li>
            {% endif %}
            <!--  -->
            {% if request.user.is_patient %}
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-target="#auth" data-bs-toggle="collapse"
                    aria-expanded="false"><i class="fa-regular fa-user pe-2"></i>
                    Settings
                </a>
                <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="{% url 'user_profile' %}" class="sidebar-link">Profile</a>
                    </li>
                </ul>
            </li>
            {% elif request.user.is_doctor %}
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-target="#auth" data-bs-toggle="collapse"
                    aria-expanded="false"><i class="fa-regular fa-user pe-2"></i>
                    Settings
                </a>
                <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="{% url 'doctor_profile' %}" class="sidebar-link">Doctor Profile</a>
                    </li>
                </ul>
            </li>
            {% elif request.user.is_admin %}
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-target="#auth" data-bs-toggle="collapse"
                    aria-expanded="false"><i class="fa-regular fa-user pe-2"></i>
                    Settings
                </a>
                <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="{% url 'admin_profile' %}" class="sidebar-link">Admin Profile</a>
                    </li>
                </ul>
            </li>
            {% elif request.user.is_operator %}
            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-target="#auth" data-bs-toggle="collapse"
                    aria-expanded="false"><i class="fa-regular fa-user pe-2"></i>
                    Settings
                </a>
                <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="{% url 'operator_profile' %}" class="sidebar-link">Operator Profile</a>
                    </li>
                </ul>
            </li>
            {% endif %}
        </ul>


        <div class="d-flex ps-3 mt-auto">
            <button type="submit" class="btn btn-logout" data-bs-toggle="modal" data-bs-target="#logoutModal"
                style="color: white;">
                <i class="fas fa-sign-out-alt pe-2"></i> Logout
            </button>
        </div>

    </div>
</aside>


<!-- Logout Modal -->
<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm</h1>
            </div>
            <div class="modal-body">
                Are you are you want to logout?
            </div>
            <div class="modal-footer">
                <a href="" type="button" class="btn btn-secondary">Cancel</a>
                <a href="{% url 'logout' %}" type="button" class="btn btn-success">Logout</a>
            </div>
        </div>
    </div>
</div>