{% load static %}

<!-- Start Footer -->
<footer>
    <!-- Container to hold the content within a specified width -->
    <div class="container">
        <!-- Row to organize content in a horizontal layout -->
        <div class="row">
            <!-- Column for Contact Info -->
            <div class="col-md-3 col-6">
                <div class="footer-col">
                    <!-- Contact Info Heading -->
                    <h3>Contact Info</h3>
                    <!-- Email and Address Information -->
                    <div class="pb-1">taitailes@gmail.com</div>
                    <div>New Baneshwor, Kathmandu, Nepal</div>
                </div>
            </div>
            <!-- Column for Opening Hours -->
            <div class="col-md-3 col-6">
                <div class="footer-col">
                    <!-- Opening Hours Heading -->
                    <h3>Opening hours</h3>
                    <!-- Opening Hours Information -->
                    <div class="pb-1">Mon - Sun</div>
                    <div>
                        09:00 am - 05:00 pm
                    </div>
                </div>
            </div>
            <!-- Column for Useful Links and Social Media Links -->
            <div class="col-md-3 col-6">
                <div class="footer-col ">
                    <!-- Useful Links Heading -->
                    <h3>Useful Links</h3>
                    <!-- List of Useful Links -->

                    <ul class="p-0">
                        <li><a href="service">Our Services</a></li>
                        <li><a href="contact">Contact Us</a></li>
                        <li><a href="faq">FAQ</a></li>
                        <li><a href="terms">Terms and Conditions</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-6">
                <div class="footer-col">
                    <h3>Social Links</h3>

                    <!-- Social Media Links -->
                    <div class="social-media-links d-block">
                        <!-- Facebook Social Media Link -->
                        <div class="pb-1">
                            <a href="#" class=" social-icon"><i class="fa-brands fa-facebook"></i> Facebook </a>
                        </div>

                        <!-- Instagram Social Media Link -->
                        <div class="pb-1">
                            <a href="#" class="social-icon"><i class="fa-brands fa-instagram"></i> Instagram
                            </a>
                        </div>

                        <!-- TikTok Social Media Link -->
                        <div>
                            <a href="#" class="social-icon"><i class="fa-brands fa-tiktok"></i> TikTok </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->