{% load static %}

<div>
    <!-- Start Header -->
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{% url 'index' %}">
                    <img src="{% static 'image/logo.png' %}" alt="logo" style="max-width: 75px; max-height: 200px;">

                    <span class="text-white">Appointment Booking</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href='/'>Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'service' %}">Service</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'team' %}">Doctors</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav ms-auto">
                        {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            {% if request.user.is_patient %}
                            <a class="nav-link" href="{% url 'user_dashboard' %}"><i class="fa fa-user"></i> {{ request.user.first_name }} Dashboard</a>
                            {% elif request.user.is_operator %}
                            <a class="nav-link" href="{% url 'operator_dashboard' %}"><i class="fa fa-user"></i> {{ request.user.first_name }}</a>
                            {% elif request.user.is_doctor %}
                            <a class="nav-link" href="{% url 'doctor_dashboard' %}"><i class="fa fa-user"></i> {{ request.user.first_name }}</a>
                            {% elif request.user.is_admin %}
                            <a class="nav-link" href="{% url 'admin_dashboard' %}"><i class="fa fa-user"></i> {{ request.user.first_name }}</a>
                            {% endif %}
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-door-open"></i> Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!-- End Header -->
</div>