{% extends 'main/dashboard.html' %}
{% load static %}
{% block content %}

<main class="content px-3 py-2">
    <!-- Table Element -->
    <div class="card border-0">

        <div class="container  py-5">
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="fs-4">Doctor Records</h4>
                <div class="d-flex">
                    <a href="{% url 'admin_add_doctor' %}" class="btn btn-success me-2" title="Add Doctor">Add Doctor
                    </a>

                </div>
            </div>

            <hr />
            <table>
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Gender</th>
                        <th>Phone Number</th>
                        <th>Qualification</th>
                        <th>Service Type</th>
                        <th>Address</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for doctor in doctors %}
                    <tr>
                        <td>{{ doctor.user.first_name }}</td>
                        <td>{{ doctor.user.last_name }}</td>
                        <td>{{ doctor.gender }}</td>
                        <td>{{ doctor.mobile }}</td>
                        <td>{{ doctor.qualification }}</td>
                        <td>{{ doctor.service_type }}</td>
                        <td>{{ doctor.address }}</td>
                        <td>{{ doctor.user.email }}</td>
                        {% if doctor.status == 1 %}
                        <td><i class="fa fa-check-circle text-success fa-xs"></i></td>
                        {% else %}
                        <td><i class="fa fa-times-circle text-danger"></i></td>
                        {% endif %}
                        <td>
                            <a href="{% url 'admin_edit_doctor' id=doctor.id %}" class="btn btn-success"
                                title="Edit vet">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a href="{% url 'admin_delete_doctor' id=doctor.id %}"
                                onclick="return confirm('Do you want to delete the data?')" class="btn btn-danger"
                                title="Delete vet">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>

{% endblock %}