{% extends 'main/dashboard.html' %}
{% load static %}
{% block content %}

<style>
    /* Common table styles */
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th,
    td {
        padding: 12px;
        border: 1px solid #ccc;
        text-align: center;
    }

    th {
        background-color: #88b4ab;
        color: black;
        font-weight: bold;
    }

    /* Zebra striping for tables */
    tbody tr:nth-child(odd) {
        background: #eee;
    }

    /* Responsive styles for tables */
    @media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {

        table,
        thead,
        tbody,
        th,
        td,
        tr {
            display: block;
        }

        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        tr {
            border: 1px solid #ccc;
            margin-bottom: 20px;
        }

        td {
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
        }

        td:before {
            position: absolute;
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }

        /* Label the data */
        td:nth-of-type(1):before {
            content: "Pet Name";
        }

        td:nth-of-type(2):before {
            content: "Pet Breed";
        }

        td:nth-of-type(3):before {
            content: "Pet Colour";
        }

        td:nth-of-type(4):before {
            content: "Pet Age";
        }

        td:nth-of-type(5):before {
            content: "Owner Name";
        }

        td:nth-of-type(6):before {
            content: "Gender";
        }
        td:nth-of-type(7):before {
            content: "Phone Number";
        }
        td:nth-of-type(8):before {
            content: "Address";
        }
        td:nth-of-type(9):before {
            content: "House Number";
        }
        td:nth-of-type(10):before {
            content: "Registered Date";
        }
        td:nth-of-type(11):before {
            content: "Status";
        }
        td:nth-of-type(12):before {
            content: "Action";
        }
    }

</style>

<main class="content px-3 py-2">
    <!-- Table Element -->
    <div class="card border-0">
        <div class="container py-5">
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="fs-4">Patient Records</h4>

            </div>

            <hr />

            <!-- Add the table-responsive class here -->
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="table-primary">
                        <tr>
                            <th>Pet Name</th>
                            <th>Pet Breed</th>
                            <th>Pet Colour</th>
                            <th>Pet Age</th>
                            <th>Owner Name</th>
                            <th>Gender</th>
                            <th>Phone Number</th>
                            <th>Address</th>
                            <th>House Number</th>
                            <th>Registered Date</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for patient in patient %}
                        <tr>
                            <td>{{ patient.petname }}</td>
                            <td>{{ patient.breed }}</td>
                            <td>{{ patient.color }}</td>
                            <td>{{ patient.age }}</td>
                            <td>{{ patient.user.first_name }} {{ patient.user.last_name }}</td>
                            <td>{{ patient.gender }}</td>
                            <td>{{ patient.phone }}</td>
                            <td>{{ patient.address }}</td>
                            <td>{{ patient.houseNumber }}</td>
                            <td>{{ patient.date }}</td>
                            {% if patient.status == 1 %}
                            <td><i class="fa fa-check-circle text-success"></i></td>
                            {% else %}
                            <td><i class="fa fa-times-circle text-danger"></i></td>
                            {% endif %}
                            <td>
                                <a href="{% url 'admin_single_appointment' id=patient.id %}" class="btn btn-primary"
                                title="View appointment details"><i class="fa fa-eye"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

{% endblock %}