{% extends 'main/dashboard.html' %}
{% load static %}
{% block content %}


<style>
    /* Common table styles */
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }
  
    th,
    td {
        padding: 12px;
        border: 1px solid #ccc;
        text-align: center;
    }
  
    th {
        background-color: #88b4ab;
        color: black;
        font-weight: bold;
    }
  
    /* Zebra striping for tables */
    tbody tr:nth-child(odd) {
        background: #eee;
    }
  
    /* Responsive styles for tables */
    @media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {
  
        table,
        thead,
        tbody,
        th,
        td,
        tr {
            display: block;
        }
  
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
  
        tr {
            border: 1px solid #ccc;
            margin-bottom: 20px;
        }
  
        td {
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
        }
  
        td:before {
            position: absolute;
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }
  
        /* Label the data */
        td:nth-of-type(1):before {
            content: "First Name";
        }
  
        td:nth-of-type(2):before {
            content: "Last Name";
        }
  
        td:nth-of-type(3):before {
            content: "Email";
        }
  
        td:nth-of-type(4):before {
            content: "Contacts";
        }
  
        td:nth-of-type(5):before {
            content: "Notes";
        }
        td:nth-of-type(6):before {
            content: "Action";
        }
    }
  
  </style>

<main class="content px-3 py-2">
    <!-- Table Element -->
    <div class="card border-0">


        <div class="container py-5">
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="fs-4">Contact Records</h4>
            </div>

            <hr />

            <table>
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Contact</th>
                        <th>Notes</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for con in contacts %}
                    <tr>
                        <td>{{ con.first_name }}</td>
                        <td>{{ con.last_name }}</td>
                        <td>{{ con.email }}</td>
                        <td>{{ con.phone }}</td>
                        <td>{{ con.notes }}</td>
                        <td>
                            <a href="{% url 'admin_contact_delete' id=con.id %}" onclick="return confirm('Do you want to delete the data?')" class="btn btn-danger" title="Delete contact">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>

{% endblock %}