{% extends 'main/dashboard.html' %}
{% load static %}
{% block content %}

<main class="content px-3 py-2">
    <div class="card border-0">
        <div class="container">
            <div class="row justify-content-center py-5">
                <div class="col-md-6 col-12">
                    <div class="fs-4 fw-light text-muted pb-2 text-center">{% if doctor %}Edit Doctor{% else %}Add doctor{% endif %}</div>
                    <form method="post" {% if doctor %}action="{% url 'admin_update_doctor' id=doctor.id %}"
                    {% else %}action="{% url 'admin_register_doctor' %}" {% endif %} enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-lg-7 col-md-12 col-8 mx-auto">
                            <div class="form-group pb-2">
                              <label for="doc_first_name">First Name</label>
                              <input class="form-control" type="text" id="doc_first_name" name="doc_first_name" required
                                style="border: 1px solid #0eb62f" {% if doctor %}
                                value="{{ doctor.user.first_name }}" {% endif %} />
                            </div>
                          </div>
                
                          <!-- Last Name Input Field -->
                          <div class="col-lg-7 col-md-12 col-8 mx-auto">
                            <div class="form-group pb-2">
                              <label for="doc_last_name">Last Name</label>
                              <input class="form-control" type="text" id="doc_last_name" name="doc_last_name" required
                                style="border: 1px solid #0eb62f" {% if doctor %}
                                value="{{ doctor.user.last_name }}" {% endif %} />
                            </div>
                          </div>
                
                          <!-- Email Input Field -->
                          <div class="col-lg-7 col-md-12 col-8 mx-auto">
                            <div class="form-group pb-2">
                              <label for="doc_email">Email</label>
                              <input class="form-control" type="email" id="doc_email" name="doc_email" required
                                style="border: 1px solid #0eb62f" {% if doctor %}
                                value="{{ doctor.user.username }}" {% endif %}/>
                            </div>
                          </div>
                
                          <!-- Phone Number Input Field -->
                          <div class="col-lg-7 col-md-12 col-8 mx-auto">
                            <div class="form-group pb-2">
                              <label for="doc_phone">Phone Number</label>
                              <input class="form-control" type="tel" id="doc_phone" name="doc_phone" required
                                style="border: 1px solid #0eb62f" {% if doctor %}
                                value="{{ doctor.mobile }}" {% endif %} />
                            </div>
                          </div>
                
                          <!-- Address Input Field -->
                          <div class="col-lg-7 col-md-12 col-8 mx-auto">
                            <div class="form-group pb-2">
                              <label for="doc_address">Address</label>
                              <input class="form-control" type="text" id="doc_address" name="doc_address" required
                                style="border: 1px solid #0eb62f" {% if doctor %}
                                value="{{ doctor.address }}" {% endif %} />
                            </div>
                          </div>
                
                          <!-- Gender Input Field -->
                          <div class="col-lg-7 col-md-12 col-8 mx-auto">
                            <div class="form-group pb-2">
                              <label for="doc_gender">Gender</label>
                              <select class="form-select" id="doc_gender" name="doc_gender" required style="border: 1px solid #0eb62f">
                                <option value="" selected disabled>Select Gender</option>
                                <option {% if doctor and doctor.gender == 'Male' %} selected {% endif %} value="Male">Male</option>
                                <option {% if doctor and doctor.gender == 'Female' %} selected {% endif %} value="Female">Female</option>
                                <option {% if doctor and doctor.gender == 'Other' %} selected {% endif %} value="Other">Other</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-lg-7 col-md-12 col-8 mx-auto">
                            <div class="form-group pb-2">
                              <label for="doc_qualification">Qualification</label>
                              <textarea name="doc_qualification" id="" class="form-control" style="border: 1px solid #0eb62f">{% if doctor %}{{ doctor.qualification }}{% endif %}</textarea>
                            </div>
                          </div>
                          <div class="col-lg-7 col-md-12 col-8 mx-auto">
                            <div class="form-group pb-2">
                              <label for="doc_service_type">Service Type</label>
                              <input class="form-control" type="text" id="doc_service_type" name="doc_service_type" required
                                style="border: 1px solid #0eb62f" {% if doctor %}
                                value="{{ doctor.service_type }}" {% endif %} />
                            </div>
                          </div>
                          <div class="col-lg-7 col-md-12 col-8 mx-auto">
                            <div class="form-group pb-2">
                              <label for="doc_nmc_number">NMC Number</label>
                              <input class="form-control" type="text" id="doc_nmc_number" name="doc_nmc_number" required
                                style="border: 1px solid #0eb62f" {% if doctor %}
                                value="{{ doctor.nmc_number }}" {% endif %} />
                            </div>
                          </div>
                          {% if doctor %}
                          <div class="col-lg-7 col-md-12 col-8 mx-auto">
                              <div class="form-group pb-2">
                                <label for="doc_status">Status</label>
                                <select class="form-select" id="doc_status" name="doc_status" required style="border: 1px solid #0eb62f">
                                    <option value="" selected disabled>Select status</option>
                                    <option {% if doctor and doctor.status %} selected {% endif %} value="1">Available</option>
                                    <option {% if doctor and not doctor.status %} selected {% endif %} value="0">Unavailable</option>
                                </select>
                            </div>
                          </div>
                          {% endif %}
                          <div class="col-lg-7 col-md-12 col-8 mx-auto">
                              <div class="form-group pb-2">
                                  <label for="doc_image">{% if doctor %} Change Image {% else %} Upload Image {% endif %}</label>
                                  <input class="form-control" type="file" id="doc_image" name="doc_image"
                                      style="border: 1px solid #0eb62f" accept="image/jpeg, image/png, image/jpg, image/gif"/>
                                  {% if doctor.image %}
                                  <div class="text-center">
                                      <img src="{{ MEDIA_URL }}{{ doctor.image }}" class="form-control" alt="image" style="width: 300px; height: 300px;"><br>
                                      <a class="btn btn-danger" id="removeImageButton" href="{% url 'admin_doctor_img_remove' id=doctor.id %}" title="Remove Image" onclick="return confirm('Do you want to remove image?')"><i class="fa fa-trash"></i></a>
                                  </div>
                                  {% endif %}
                              </div>
                          </div>
                          <!-- Password Input Field -->
                          {% if doctor %}
                          <div class="text-center py-4">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Change Password</button>
                          </div>
                          {% else %}
                          <div class="col-lg-7 col-md-12 col-8 mx-auto">
                            <div class="form-group pb-2">
                              <label for="doc_password">Password</label>
                              <input class="form-control" type="password" id="doc_password" name="doc_password" required
                                style="border: 1px solid #0eb62f" />
                            </div>
                          </div>
                          <div class="col-lg-7 col-md-12 col-8 mx-auto">
                            <div class="form-group pb-2">
                              <label for="doc_confirm_password">Confirm Password</label>
                              <input class="form-control" type="password" id="doc_confirm_password" name="doc_confirm_password" required
                                style="border: 1px solid #0eb62f"  />
                            </div>
                          </div>
                          {% endif %}
                        <div class="text-center py-4">
                            <button type="submit" class="btn btn-blue" style="
                                background: #4CAF50; /* Green color */
                                border: none;
                                color: #fff;
                                padding: 12px 24px;
                                font-size: 18px;
                                cursor: pointer;
                                transition: background 0.3s ease;">
                                Confirm
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- modal -->
{% if doctor %}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Password Change</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'admin_doctor_change_password' id=doctor.id %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="new-password" class="col-form-label">New Password</label>
            <input type="password" class="form-control" id="new-password" name="new-password">
          </div>
          <div class="form-group">
            <label for="confirm-password" class="col-form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirm-password" name="confirm-password">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Change Password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}