{% extends 'main/dashboard.html' %}
{% load static %}
{% block content %}

<main class="content px-3 py-2">
    <!-- Table Element -->
    <div class="card border-0">

        <!-- add data-->
        <div class="container py-5">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h4 class="fs-4">Payment History</h4>
                <div class="d-flex">
                    <a href="{% url 'admin_download_payment_history' %}" class="btn btn-success me-2" id="pdfExportButton" title="Download">Download statement</a>
                </div>

            </div>

            <hr />

            <table id="paymentTable">
                <thead>
                    <tr>
                        <!-- <th>Payment Id</th> -->
                        <th>Booking Id</th>
                        <th>Pet Owner</th>
                        <th>Doctor</th>
                        <th>Service Type</th>
                        <th>Appointment Type</th>
                        <th>Amount</th>
                        <th>Payment Method</th>
                        <th>Paid Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pay in payment %}
                    <tr>
                        <td>{{ pay.booking.id }}</td>
                        <td>{{ pay.booking.user.first_name }} {{ pay.booking.user.last_name }}</td>
                        <td>{{ pay.booking.doctor.user.first_name }} {{ pay.booking.doctor.user.last_name }}</td>
                        <td>{{ pay.booking.service.title }}</td>
                        <td>{{ pay.booking.booking_type }}</td>
                        <td>NPR. {{ pay.booking.service.price }}</td>
                        <td>{{ pay.payment_method }}</td>
                        <td>{{ pay.created_on }}</td>
                        <td>
                            <a href="{% url 'admin_payment_single_download' id=pay.id %}" class="btn btn-success" title="Download Invoice">
                                <i class="fa-solid fa-download"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    <!-- Add more rows as needed -->
                </tbody>
            </table>
        </div>
    </div>
</main>

{% endblock %}