{% extends 'main/dashboard.html' %}
{% load static %}
{% block content %}

<style>
    /* Common table styles */
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th,
    td {
        padding: 12px;
        border: 1px solid #ccc;
        text-align: center;
    }

    th {
        background-color: #88b4ab;
        color: black;
        font-weight: bold;
    }

    /* Zebra striping for tables */
    tbody tr:nth-child(odd) {
        background: #eee;
    }

    /* Responsive styles for tables */
    @media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {

        table,
        thead,
        tbody,
        th,
        td,
        tr {
            display: block;
        }

        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        tr {
            border: 1px solid #ccc;
            margin-bottom: 20px;
        }

        td {
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
        }

        td:before {
            position: absolute;
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }

        /* Label the data */
        td:nth-of-type(1):before {
            content: "Booking Id";
        }

        td:nth-of-type(2):before {
            content: "Pet Owner";
        }

        td:nth-of-type(3):before {
            content: "Doctor";
        }

        td:nth-of-type(4):before {
            content: "Service Type";
        }

        td:nth-of-type(5):before {
            content: "Appointment Type";
        }

        td:nth-of-type(6):before {
            content: "Amount";
        }
        td:nth-of-type(7):before {
            content: "Payment Method";
        }
        td:nth-of-type(8):before {
            content: "Paid Date";
        }
        td:nth-of-type(9):before {
            content: "Action";
        }
    }

</style>

<main class="content px-3 py-2">
    <!-- Table Element -->
    <div class="card border-0">

        <!-- add data-->
        <div class="container py-5">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h4 class="fs-4">Payment History</h4>
                <div class="d-flex">
                    <a href="{% url 'admin_download_payment_history' %}" class="btn btn-success me-2" id="pdfExportButton" title="Download">Download statement</a>
                </div>

            </div>

            <hr />

            <table id="paymentTable">
                <thead>
                    <tr>
                        <!-- <th>Payment Id</th> -->
                        <th>Booking Id</th>
                        <th>Pet Owner</th>
                        <th>Doctor</th>
                        <th>Service Type</th>
                        <th>Appointment Type</th>
                        <th>Amount</th>
                        <th>Payment Method</th>
                        <th>Paid Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pay in payment %}
                    <tr>
                        <td>{{ pay.booking.id }}</td>
                        <td>{{ pay.booking.user.first_name }} {{ pay.booking.user.last_name }}</td>
                        <td>{{ pay.booking.doctor.user.first_name }} {{ pay.booking.doctor.user.last_name }}</td>
                        <td>{{ pay.booking.service.title }}</td>
                        <td>{{ pay.booking.booking_type }}</td>
                        <td>NPR. {{ pay.booking.service.price }}</td>
                        <td>{{ pay.payment_method }}</td>
                        <td>{{ pay.created_on }}</td>
                        <td>
                            <a href="{% url 'admin_payment_single_download' id=pay.id %}" class="btn btn-success" title="Download Invoice">
                                <i class="fa-solid fa-download"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    <!-- Add more rows as needed -->
                </tbody>
            </table>
        </div>
    </div>
</main>

{% endblock %}