{% extends 'main/dashboard.html' %}
{% load static %}
{% block content %}


<style>
    /* Common table styles */
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }
  
    th,
    td {
        padding: 12px;
        border: 1px solid #ccc;
        text-align: center;
    }
  
    th {
        background-color: #88b4ab;
        color: black;
        font-weight: bold;
    }
  
    /* Zebra striping for tables */
    tbody tr:nth-child(odd) {
        background: #eee;
    }
  
    /* Responsive styles for tables */
    @media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {
  
        table,
        thead,
        tbody,
        th,
        td,
        tr {
            display: block;
        }
  
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
  
        tr {
            border: 1px solid #ccc;
            margin-bottom: 20px;
        }
  
        td {
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
        }
  
        td:before {
            position: absolute;
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }
  
        /* Label the data */
        td:nth-of-type(1):before {
            content: "PetName";
        }
  
        td:nth-of-type(2):before {
            content: "Owner Email";
        }
  
        td:nth-of-type(3):before {
            content: "Vet Name";
        }
  
        td:nth-of-type(4):before {
            content: "Appointment Type";
        }
  
        td:nth-of-type(5):before {
            content: "Service Type";
        }
        td:nth-of-type(6):before {
            content: "Time";
        }
        td:nth-of-type(7):before {
            content: "Date";
        }
        td:nth-of-type(8):before {
            content: "Status";
        }
        td:nth-of-type(9):before {
            content: "Action";
        }
    }
  
  </style>

<main class="content px-3 py-2">
    <!-- Table Element -->
    <div class="card border-0">

        <div class="container py-5">
            <div class="d-flex justify-content-between align-items-center">
                <h4 class="fs-4">Appointment Records</h4>
                <div class="d-flex">
                </div>
            </div>
            <hr />
            <table>
                <thead>
                    <tr>
                        <th>Pet Name</th>
                        <th>Owner Email</th>
                        <th>Vet Name</th>
                        <th>Appointment Type</th>
                        <th>Service Type</th>
                        <th>Time</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for appointment in appointments_all %}
                    <tr>
                        <td>{{ appointment.petname }}</td>
                        <td>{{ appointment.user.first_name }} {{ appointment.user.last_name }}</td>
                        <td>{{ appointment.doctor }}</td>
                        <td>{{ appointment.booking_type }}</td>
                        <td>{{ appointment.service}}</td>
                        <td>{{ appointment.time }}</td>
                        <td>{{ appointment.date }}</td>
                        {% if appointment.status == 1 %}
                        <td><i class="fa fa-check-circle text-success"></i></td>
                        {% else %}
                        <td><i class="fa fa-times-circle text-danger"></i></td>
                        {% endif %}
                        <td>
                            <a href="{% url 'admin_single_appointment' id=appointment.id %}" class="btn btn-primary"
                                title="View appointment details"><i class="fa fa-eye"></i></a>
                            <a href="{% url 'admin_cancel_appointment' id=appointment.id %}"
                                onclick="return confirm('Do you want to cancel the appointment?')"
                                class="btn btn-secondary" title="Cancel appointment"><i class="fa fa-cancel"></i></a>
                            <a href="{% url 'admin_delete_appointment' id=appointment.id %}"
                                onclick="return confirm('Do you want to delete the appointment?')"
                                class="btn btn-danger delete-appointment" title="Delete appointment"> <i
                                    class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="patientDetailsModal" tabindex="-1" aria-labelledby="patientDetailsModal"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Pet Details</h1>
                    </div>
                    <div class="modal-body">
                        <!-- Your modal body content goes here -->

                        <div class="row form-group pb-2">
                            <div class="col-3">
                                <label for="pet_age">Age</label>
                            </div>
                            <div class="col-9">
                                <div>10</div>
                            </div>
                        </div>
                        <div class="mt-2"></div>

                        <div class="row form-group pb-2">
                            <div class="col-3">
                                <label for="pet_age">Breed</label>
                            </div>
                            <div class="col-9">
                                <div>Test</div>
                            </div>
                        </div>
                        <div class="mt-2"></div>

                        <div class="row form-group pb-2">
                            <div class="col-3">
                                <label for="pet_age">Color</label>
                            </div>
                            <div class="col-9">
                                <div>Brown</div>
                            </div>
                        </div>
                        <div class="mt-2"></div>

                        <div class="row form-group pb-2">
                            <div class="col-3">
                                <label for="pet_age">Address</label>
                            </div>
                            <div class="col-9">
                                <div>Nepal</div>
                            </div>
                        </div>
                        <div class="mt-2"></div>

                        <div class="row form-group pb-2">
                            <div class="col-3">
                                <label for="pet_age">Contact</label>
                            </div>
                            <div class="col-9">
                                <div>+977 9849372055</div>
                            </div>
                        </div>
                        <div class="mt-2"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}