{% load static %} 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Booking Confirmation Email</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/ae360af17e.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="{% static 'script.js' %}"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>


    <style>
        .email-content {
            color: #88b4ab;
            font-size: 1.5rem;
            text-align: center;
        }
        .email-content p {
            text-align: left;
        }
        .email-content ul {
            list-style: none;
            padding-left: 0;
            text-align: left;
        }
    </style>
</head>
<body>
    <div style="padding: 0rem 2rem;" class="email-content">
        <div style="background:  #88b4ab; text-align:center;">
            <!-- <img src="{% static 'image/logo.png' %}" style="height: 15rem;"> -->
            <img src="https://i.ibb.co/kK5kSjH/logo.png" alt="logo" border="0" style="width: 100px; height: auto;">
        </div>

        <div>
            <p style="padding-bottom: 1rem;">Dear {{ user.first_name }} {{ user.last_name }},</p>
        </div>
                    
        <div>
            <p>We are pleased to confirm your upcoming medical appointment. Below are the appointment details:</p>
            
            <ul>
                <li><strong>Doctor:</strong> {{ booking.doctor.user.first_name }} {{ booking.doctor.user.last_name }}</li>
                <li><strong>Service:</strong> {{ booking.service }}</li>
                <li><strong>Booking Type:</strong> {{ booking.booking_type }}</li>
                <li><strong>Date:</strong> {{ booking.date }}</li>
                <li><strong>Time:</strong> {{ booking.time }}</li>
            </ul>
            
            <hr>
            <p>Please ensure you arrive on time. If you have any relevant medical records, kindly bring them. In case of questions or changes, feel free to contact us at +977- 9849372055. We look forward to your visit. </p>
                            
        </div>

        <div style="background:  #88b4ab; text-align: left; padding: 1.5rem; color: white; font-weight: bolder;">
            <p>We wish you good health, </p>
            <p>Tailtales!</p>
        </div>
    </div>

    {% if user.is_doctor %}
        <script>
            // Script for doctor-specific actions if needed
            // For example, you can add a custom action specific to doctors here
            console.log("Doctor-specific script here");
            // Add additional doctor-specific script here
        </script>
    {% elif user.is_admin %}
        <script>
            // Script for admin-specific actions if needed
            // For example, you can add a custom action specific to admins here
            console.log("Admin-specific script here");
            // Add additional admin-specific script here
        </script>
    {% elif user.is_operator %}
        <script>
            // Script for operator-specific actions if needed
            // For example, you can add a custom action specific to operators here
            console.log("Operator-specific script here");
            // Add additional operator-specific script here
        </script>
    {% endif %}
</body>
</html>
