{%extends "main/base.html"%} 
{% load static %} 
{% block title %} About {%endblock%} 


{% block content %}
<div class="container">

    <!-- .d-lg-flex applies flexbox display behavior to an element only on large screens and up, meaning the element will be displayed as a flex container -->
    <div class="d-lg-flex d-block align-items-center justify-content-center py-5">

        <div class="col-lg-6 d-block">
            <h3> Compassionate Veterinary Care at TailTales </h3>

                <!-- Making Font weight lighter and using font size 4 i.e. 1.5 rem (1 rem = 16px)-->        
            <h6 class=" fw-light fs-4">Ensuring Optimal Health for Your Pet
            </h6>
        </div>

        <div class="col-lg-6 pt-lg-0 pt-4">
            <ol class="list-unstyled" style="font-size: 1.2rem;">
                <li style="text-align: justify; margin-bottom: 20px;"><strong>Our Mission:</strong> We promote the well-being of your beloved pets through compassionate care,
                    advanced medical services, and client education.</li>
                <li style="text-align: justify; margin-bottom: 20px;"><strong>Experienced Team:</strong> Our team comprises skilled veterinarians and staff members
                    dedicated to personalized and comprehensive healthcare for your pets. With over two decades of
                    experience, we provide expert medical attention to keep your pets healthy and happy.</li>
                <li style="text-align: justify; margin-bottom: 20px;"><strong>Community Engagement:</strong> We actively engage with the community by offering educational
                    programs and health services to promote responsible pet ownership and animal welfare. Through
                    various initiatives, we strive to create a positive impact on the lives of pets and their families.
                </li>
            </ol>
                                  
        </div>

        
    </div>
</div>


<!-- Slider with images -->

<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="{% static 'image/test.jpg' %}" class="d-block w-100" style="height: 700px;" alt="about1" />
        </div>

        <div class="carousel-item" data-bs-interval="2000">
            <img src="{% static 'image/img18.jpg' %}" class="d-block w-100" style="height: 700px;" alt="about2" />
        </div>

        <div class="carousel-item">
            <img src="{% static 'image/login_img.jpg' %}" class="d-block w-100" style="height: 700px;" alt="about3" />
        </div>

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

</div>


{% endblock %}