
{% extends "admin_nav.html" %}
{% load static %}
{% block title %} Dashboard {% endblock %}
{% block content %}

<style>
    /* Add your styling for the profile page here */

    /* Example styling for the form */
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    /* Zebra striping */
    tr:nth-of-type(odd) {
        background: #f8f9fa; /* Light gray for zebra striping */
    }

    th {
        background: #88b4ab; /* Green color */
        color: rgb(29, 28, 28);
        font-weight: bold;
    }

    td,
    th {
        padding: 1rem;
        border: 1px solid #ccc;
        text-align: center;
    }

    @media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {
        /* Force table to not be like tables anymore */
        table,
        thead,
        tbody,
        th,
        td,
        tr {
            display: block;
        }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        tr {
            border: 1px solid #ccc;
        }

        td {
            /* Behave like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
        }

        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }

        /*
        Label the data
        */
        td:nth-of-type(1):before {
            content: "Pet Name";
        }
        td:nth-of-type(2):before {
            content: "Pet Breed";
        }
        td:nth-of-type(3):before {
            content: "Pet Colour";
        }
        td:nth-of-type(4):before {
            content: "Pet Age";
        }
        td:nth-of-type(5):before {
            content: "Owner Name";
        }
        td:nth-of-type(6):before {
            content: "Owner Email";
        }
        td:nth-of-type(7):before {
            content: "Gender";
        }

        td:nth-of-type(8):before {
            content: "Phone Number";
        }
        td:nth-of-type(9):before {
            content: "Address";
        }
        td:nth-of-type(10):before {
            content: "Tole";
        }
        td:nth-of-type(11):before {
            content: "House Number";
        }
        td:nth-of-type(12):before {
            content: "Pet Disease";
        }
        td:nth-of-type(13):before {
            content: "Instructions";
        }
        td:nth-of-type(14):before {
            content: "Registered Date";
        }
        td:nth-of-type(15):before {
            content: "Action";
        }
    }

    /* Modal styling */
    .modal-content {
        background-color: #f9f9f9;
    }

    .modal-header {
        background-color: #88b4ab;
        color: white;
        border-bottom: none;
    }

    .modal-body {
        color: #161616;
    }

    .modal-footer {
        text-align: center;
        border-top: none;
    }

    .btn-blue {
        background: #0a461f;
        border: none;
        color: #fff;
        font-size: 18px;
        cursor: pointer;
        transition: background 0.3s ease;
    }

    .btn-green {
    background-color: #4CAF50; /* Green color */
    color: white; /* Text color */
  }

  div.container {
        overflow-x: auto;
    }

    table {
        white-space: nowrap;
    }

    th {
        white-space: nowrap;
    }

</style>

<div class="container py-5">
    <div class="d-flex justify-content-between align-items-right mb-4">
        <div class="fs-4">Patient Records</div>
        <!-- Add register button with link to the booking page -->
        <a href="{% url 'booking' %}" class="text-decoration-none">
            <button type="button" class="reg-vet-btn btn btn-green">Add Patient</button>
        </a>
    </div>

    <div class = "input-group input-group-sm mb-3 mt-4">
        <input type="text" onkeyup="searchFunction()" class="form-control" id="search" placeholder="Search for...">
        <a href = "admin_patient" class="btn btn-primary" style="margin: left 2px;"> <i class="fa-solid fa-magnifying-glass"></i> </a>
    </div>


    
    <table>
        <thead>
            <tr>
                <th>Pet Name</th>
                <th>Pet Breed</th>
                <th>Pet Colour</th>
                <th>Pet Age</th>
                <th>Owner Name</th>
                <th>Owner Email</th>
                <th>Gender</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Tole</th>
                <th>House Number</th>
                <th>Pet Disease</th>
                <th>Instructions</th>
                <th>Registered Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for patient in patients %}
            <tr>
                <td>{{ patient.pet_name }}</td>
                <td>{{ patient.pet_breed }}</td>
                <td>{{ patient.pet_colour }}</td>
                <td>{{ patient.pet_age }}</td>
                <td>{{ patient.name }}</td>
                <td>{{ patient.email }}</td>
                <td>{{ patient.gender }}</td>
                <td>{{ patient.number }}</td>
                <td>{{ patient.address }}</td>
                <td>{{ patient.tole }}</td>
                <td>{{ patient.housenumber }}</td>
                <td>{{ patient.petdisease }}</td>
                <td>drink water</td>
                <td>{{ patient.date }}</td>
                <td>
                    <a href="#" class="btn btn-success" title="Edit product">
                      <i class="fa-solid fa-pen"></i>
                    </a>
                  
                    &nbsp;&nbsp;
                  
                    <a href="#" class="btn btn-danger" title="Delete product">
                      <i class="fa-solid fa-trash"></i>
                    </a>
                  </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



<!-- Modal -->
<div class="modal fade" id="patientDetailsModal" tabindex="-1" aria-labelledby="patientDetailsModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Pet Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <!-- Your modal body content goes here -->
           
                <div class="row form-group pb-2">
                    <div class="col-3">
                        <label for="pet_age">Age</label>
                    </div>
                    <div class="col-9">
                        <div>10</div>
                    </div>
                </div>
                <div class="mt-2"></div>
            
                <div class="row form-group pb-2">
                    <div class="col-3">
                        <label for="pet_age">Breed</label>
                    </div>
                    <div class="col-9">
                        <div>Test</div>
                    </div>
                </div>
                <div class="mt-2"></div>
            
                <div class="row form-group pb-2">
                    <div class="col-3">
                        <label for="pet_age">Color</label>
                    </div>
                    <div class="col-9">
                        <div>Brown</div>
                    </div>
                </div>
                <div class="mt-2"></div>
            
                <div class="row form-group pb-2">
                    <div class="col-3">
                        <label for="pet_age">Address</label>
                    </div>
                    <div class="col-9">
                        <div>Nepal</div>
                    </div>
                </div>
                <div class="mt-2"></div>
            
                <div class="row form-group pb-2">
                    <div class="col-3">
                        <label for="pet_age">Contact</label>
                    </div>
                    <div class="col-9">
                        <div>+977 9849372055</div>
                    </div>
                </div>
                <div class="mt-2"></div>
            
            </div>
            <div class="modal-footer text-center">
                <button type="submit" class="btn btn-blue">OK</button>
            </div>
      </div>
            
{% endblock %}
