{% extends "user_nav.html" %}
{% load static %}
{% block title %} Dashboard {% endblock %}
{% block content %}

<div class="container " >
  <div class="py-5">
    <div class="fs-4 fw-light text-muted pb-2 text-center">Book Online Now</div>
    <div class="text-center">Request a new appointment</div>
    <div class="pt-3 w-75 mx-auto">
      <div class="card border-0 bg-light">
        <div class="card-body ">
          <form action="{% url 'booking' %}" method="post">
            <div class="row">
                {% csrf_token %} 
                <h6 class="pb-2">Pet Owner Details</h6>

                <div class="col-lg-6 col-12">
                    <div class="form-group pb-2">
                        <label for="user_booking_email">Email</label>
                        <input
                          class="form-control"
                          type="text"
                          id="ubooking_email"
                          name="booking_email"
                          required
                          style="border: 1px solid #0eb62f"
                        />
                      </div>
                </div>

                <div class="col-lg-6 col-12">
                    <div class="form-group pb-2">
                        <label for="booking_phone">Phone</label>
                        <input
                          class="form-control"
                          type="text"
                          id="ubooking_phone"
                          name="phone"
                          required
                          style="border: 1px solid #0eb62f"
                        />
                      </div>
                </div>

                <div class="col-lg-6 col-12">
                    <div class="form-group pb-2">
                        <label for="booking_address">Address</label>
                        <input
                          class="form-control"
                          type="text"
                          id="ubooking_address"
                          name="address"
                          required
                          style="border: 1px solid #0eb62f"
                        />
                      </div>
                </div>


            </div>
            <div class="row">
                <h6 class="py-2">Pet Details</h6>
                <div class="col-lg-6 col-12">
                    <div class="form-group pb-2">
                        <label for="booking_pname">Pet Name</label>
                        <input
                          class="form-control"
                          type="text"
                          id="ubooking_pname"
                          name="pname"
                          required
                          style="border: 1px solid #0eb62f"
                        />
                      </div>
                </div>

                <div class="col-lg-6 col-12">
                    <div class="form-group pb-2">
                        <label for="booking_pbreed">Breed</label>
                        <input
                          class="form-control"
                          type="text"
                          id="ubooking_pbreed"
                          name="pbreed"
                          required
                          style="border: 1px solid #0eb62f"
                        />
                      </div>
                </div>

                <div class="col-lg-6 col-12">
                    <div class="form-group pb-2">
                        <label for="booking_page">Age</label>
                        <input
                          class="form-control"
                          type="text"
                          id="ubooking_page"
                          name="page"
                          required
                          style="border: 1px solid #0eb62f"
                        />
                      </div>
                </div>

                <div class="col-lg-6 col-12">
                    <div class="form-group pb-2">
                        <label for="booking_pcolor">Color</label>
                        <input
                          class="form-control"
                          type="text"
                          id="ubooking_pcolor"
                          name="pcolor"
                          required
                          style="border: 1px solid #0eb62f"
                        />
                      </div>
                </div>

                <div class="col-lg-6 col-12">
                    <div class="form-group pb-2">
                        <label for="booking_pgender">Gender</label>
                        <input
                          class="form-control"
                          type="text"
                          id="ubooking_pgender"
                          name="pgender"
                          required
                          style="border: 1px solid #0eb62f"
                        />
                      </div>
                </div>

                <div class="col-lg-6 col-12">
                    <div class="form-group pb-2">
                        <label for="booking_pdisease">Name of Disease <span class="text-danger">(If any)</span> </label>
                        <input
                          class="form-control"
                          type="text"
                          id="ubooking_pdisease"
                          name="pdisease"
                          required
                          style="border: 1px solid #0eb62f"
                        />
                      </div>
                </div>

                <div class="col-lg-6 col-12">
                    <div class="form-group pb-2">
                        <label for="booking_pmedication">Any Ongoing Medication </label>
                        <input
                          class="form-control"
                          type="text"
                          id="ubooking_pmedication"
                          name="pmedication"
                          required
                          style="border: 1px solid #0eb62f"
                        />
                      </div>
                </div>

                <div class="col-lg-6 col-12">
                    <div class="form-group pb-2">
                        <label for="booking_visit">Purpose of Visit </label>
                        <input
                          class="form-control"
                          type="text"
                          id="ubooking_visit"
                          name="visit"
                          required
                          style="border: 1px solid #0eb62f"
                        />
                      </div>
                </div>

                <div class="col-12">
                    <div class="form-group pb-2">
                        <label for="booking_symptoms">Symptoms of Disease </label>
                        <textarea
                          class="form-control"
                          type="text"
                          id="ubooking_symptoms"
                          name="symptoms"
                          required
                          style="border: 1px solid #0eb62f"
                        > </textarea>
                      </div>
                </div>

            </div>

            <div class="row">
                <h6 class="py-2">Method of Treatment</h6>
                <div class="col-lg-6 col-12">
                    <div class="form-group pb-2">
                        <label for="booking_method">Method</label>
                        <input
                          class="form-control"
                          type="text"
                          id="ubooking_method"
                          name="method"
                          required
                          style="border: 1px solid #0eb62f"
                        />
                      </div>
                </div>

                <div class="col-lg-6 col-12">
                    <div class="form-group pb-2">
                        <label for="booking_city">City</label>
                        <input
                          class="form-control"
                          type="text"
                          id="ubooking_city"
                          name="city"
                          required
                          style="border: 1px solid #0eb62f"
                        />
                      </div>
                </div>

                <div class="col-lg-6 col-12">
                    <div class="form-group pb-2">
                        <label for="booking_tole">Tole</label>
                        <input
                          class="form-control"
                          type="text"
                          id="ubooking_tole"
                          name="tole"
                          required
                          style="border: 1px solid #0eb62f"
                        />
                      </div>
                </div>

                <div class="col-lg-6 col-12">
                    <div class="form-group pb-2">
                        <label for="booking_house">House Number</label>
                        <input
                          class="form-control"
                          type="text"
                          id="ubooking_house"
                          name="house_number"
                          required
                          style="border: 1px solid #0eb62f"
                        />
                      </div>
                </div>

                <div class="col-lg-6 col-12">
                    <div class="form-group pb-2">
                        <label for="booking_bdate">Date</label>
                        <input
                          class="form-control"
                          type="date"
                          id="ubooking_bdate"
                          name="bdate"
                          required
                          style="border: 1px solid #0eb62f"
                        />
                      </div>
                </div>

                <div class="col-lg-6 col-12">
                    <div class="form-group pb-2">
                        <label for="booking_btime">Time</label>
                        <input
                          class="form-control"
                          type="time"
                          id="ubooking_btime"
                          name="btime"
                          required
                          style="border: 1px solid #0eb62f"
                        />
                      </div>
                      <div class="text-muted">Time may vary according to availability.</div>
                </div>
            </div>

            <div class="col-lg-6 col-12">
              <div class="form-group pb-2">
                  <label for="booking_doctor">Select Doctor</label>
                  <select class="form-select" id="ubooking_doctor" name="doctor" required style="border: 1px solid #0eb62f">
                      {% for doc in docs %}
                          <option value="{{ doc.id }}">{{ doc.name }}</option>
                      {% endfor %}
                  </select>
              </div>
          </div>

            <div class="text-end pt-2">
                <button type="button"
                  class="btn btn-blue"
                  style="
                    background: #0a461f;
                    border: none;
                    color: #fff;
                    font-size: 18px;
                    cursor: pointer;
                    transition: background 0.3s ease;
                  "
                  data-bs-toggle="modal" data-bs-target="#confirmbooking"
                >
                  Confirm
                </button>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="confirmbooking" tabindex="-1" aria-labelledby="confirmbooking" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Booking</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Dear customer, the payment of Rs.500 must be done to confirm your booking. Thank you.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn " style="
          background: #0a461f;
          border: none;
          color: #fff;
          font-size: 18px;
          cursor: pointer;
          transition: background 0.3s ease;
        "   >Ok</button>
        </div>
      </div>
    </div>
  </div>

</form>

{% endblock %}