{% load static %}
<!-- check below 323 for contents-->
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Admin Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/ae360af17e.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="{% static 'script.js' %}"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>

<style>
    body {
        font-family: 'Poppins', sans-serif;
        font-size: 0.875rem;
        margin: 0;
    }

    a {
        cursor: pointer;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
    }

    li {
        list-style: none;
    }

    .wrapper {
        align-items: stretch;
        display: flex;
        width: 100%;
    }

    #sidebar {
    max-width: 264px;
    min-width: 264px;
    background: #21836f; /* Color #88b4ab for the background */
    color: black; /* Set text color to black */
    transition: all 0.35s ease-in-out;
}


    .main {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        min-width: 0;
        overflow: hidden;
        transition: all 0.35s ease-in-out;
        width: 100%;
        background: var(--bs-dark-bg-subtle);
    }

    .sidebar-logo {
        padding: 1.15rem;
    }

    .sidebar-logo a {
        color: #e9ecef;
        font-size: 1.15rem;
        font-weight: 600;
    }

    .sidebar-nav {
        flex-grow: 1;
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;
        margin-left: 0;
    }

    .sidebar-header {
        color: #e9ecef;
        font-size: .75rem;
        padding: 1.5rem 1.5rem .375rem;
    }

    a.sidebar-link {
        padding: .625rem 1.625rem;
        color: #e9ecef;
        position: relative;
        display: block;
        font-size: 0.875rem;
    }

    .sidebar-link[data-bs-toggle="collapse"]::after {
        border: solid;
        border-width: 0 .075rem .075rem 0;
        content: "";
        display: inline-block;
        padding: 2px;
        position: absolute;
        right: 1.5rem;
        top: 1.4rem;
        transform: rotate(-135deg);
        transition: all .2s ease-out;
    }

    .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
        transform: rotate(45deg);
        transition: all .2s ease-out;
    }

    .avatar {
        height: 40px;
        width: 40px;
    }

    .navbar-expand .navbar-nav {
        margin-left: auto;
    }

    .content {
        flex: 1;
        max-width: 100vw;
        width: 100vw;
    }

    @media (min-width:768px) {
        .content {
            max-width: auto;
            width: auto;
        }
    }

    .card {
        box-shadow: 0 0 .875rem 0 rgba(34, 46, 60, .05);
        margin-bottom: 24px;
    }

    .illustration {
        background-color: var(--bs-primary-bg-subtle);
        color: var(--bs-emphasis-color);
    }

    .illustration-img {
        max-width: 150px;
        width: 100%;
    }

    #sidebar.collapsed {
        margin-left: -264px;
    }

    @media (max-width:767.98px) {
        .js-sidebar {
            margin-left: -264px;
        }

        #sidebar.collapsed {
            margin-left: 0;
        }

        .navbar,
        footer {
            width: 100vw;
        }
    }

    .theme-toggle {
        position: fixed;
        top: 50%;
        transform: translateY(-65%);
        text-align: center;
        z-index: 10;
        right: 0;
        left: auto;
        border: none;
        background-color: var(--bs-body-color);
    }

    html[data-bs-theme="dark"] .theme-toggle .fa-sun,
    html[data-bs-theme="light"] .theme-toggle .fa-moon {
        cursor: pointer;
        padding: 10px;
        display: block;
        font-size: 1.25rem;
        color: #FFF;
    }

    html[data-bs-theme="dark"] .theme-toggle .fa-moon {
        display: none;
    }

    html[data-bs-theme="light"] .theme-toggle .fa-sun {
        display: none;
    }


</style>

<body>
    <div class="wrapper">
        <aside id="sidebar" class="js-sidebar">
            <div class="h-100">
                <div class="sidebar-logo">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'logo.png' %}" alt="logo" style="max-width: 75px; max-height: 200px;">
                        <span class="welcome-text">TailTales</span>
                    </a>
                </div>
                
                <ul class="sidebar-nav">
                    <li class="sidebar-header">
                        Dashboard Elements
                    </li>
                    <li class="sidebar-item">
                        <a href="user_dashboard" class="sidebar-link">
                            <i class="fa-solid fa-list pe-2"></i>
                            Dashboard
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-target="#pages" data-bs-toggle="collapse"
                            aria-expanded="false"><i class="fas fa-calendar-alt pe-2"></i>
                            Appointment
                        </a>
                        <ul id="pages" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="booking" class="sidebar-link">Book Appointment</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="user_app" class="sidebar-link">Appointment History</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-target="#posts" data-bs-toggle="collapse"
                            aria-expanded="false"><i class="fas fa-file-invoice-dollar pe-2"></i>
                            Billing
                        </a>
                        <ul id="posts" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="user_payment" class="sidebar-link">Payment History</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Generate Bill</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-target="#auth" data-bs-toggle="collapse"
                            aria-expanded="false"><i class="fa-regular fa-user pe-2"></i>
                            Settings
                        </a>
                        <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="user_profile" class="sidebar-link">Profile</a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <div class="d-flex ps-3 mt-auto">
                    <button type="submit" class="btn btn-logout" data-bs-toggle="modal" data-bs-target="#logoutModal" style="color: white;">
                        <i class="fas fa-sign-out-alt pe-2"></i> Logout
                    </button>
                </div>
            </div>
        </aside>

        
                    <!-- Logout Modal -->
                    <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModal" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Logout</h1>
                            </div>
                            <div class="modal-body">
                            Are you are you want to logout?
                            </div>
                            <div class="modal-footer">
                            <a href="{% url 'user_dashboard' %}" type="button" class="btn btn-secondary">Cancel</a>
                            <a href="{% url 'login' %}" type="button" class="btn btn-success">Logout</a>
                            </div>
                        </div>
                        </div>
                    </div>

        <div class="main">
            <nav class="navbar navbar-expand px-3 border-bottom">
                <button class="btn" id="sidebar-toggle" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="row">
                    <div class="col-12">
                        <div class="input-group input-group-sm mb-4 mt-4">
                            <input type="text" class="form-control" id="search" placeholder="Search for...">
                            <a href="user_app" class="btn btn-primary" style="margin: left 2px;"> <i class="fa-solid fa-magnifying-glass"></i> </a>
                        </div>
                    </div>
                </div>
                
                
                <div class="navbar-collapse navbar">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a href="#" data-bs-toggle="dropdown" class="nav-icon pe-md-0">
                                <img src="{% static 'logo.png' %}"  class="avatar img-fluid rounded" alt="logo" style="max-width: 75px; max-height: 200px;">
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="user_profile" class="dropdown-item">Edit Profile</a>
                                <a href="login" class="dropdown-item">Delete Profile</a>

                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <a href="#" class="theme-toggle">
                <i class="fa-regular fa-moon"></i>
                <i class="fa-regular fa-sun"></i>
            </a>

            


<main class="content px-3 py-2">
    <!-- Table Element -->
    <div class="card border-0">
        <div class="container " >
            <div class="py-5">
              <div class="fs-4 fw-light text-muted pb-2 text-center">Book Online Now</div>
              <div class="text-center">Request a new appointment</div>
              <div class="pt-3 w-75 mx-auto">
                <div class="card border-0 bg-light">
                  <div class="card-body ">
                    <form action="{% url 'booking' %}" method="post">
                      <div class="row">
                          {% csrf_token %} 
                          <h6 class="pb-2">Pet Owner Details</h6>
          
                          <div class="col-lg-6 col-12">
                              <div class="form-group pb-2">
                                  <label for="user_booking_email">Email</label>
                                  <input
                                    class="form-control"
                                    type="text"
                                    id="ubooking_email"
                                    name="booking_email"
                                    required
                                    style="border: 1px solid #0eb62f"
                                  />
                                </div>
                          </div>
          
                          <div class="col-lg-6 col-12">
                              <div class="form-group pb-2">
                                  <label for="booking_phone">Phone</label>
                                  <input
                                    class="form-control"
                                    type="text"
                                    id="ubooking_phone"
                                    name="phone"
                                    required
                                    style="border: 1px solid #0eb62f"
                                  />
                                </div>
                          </div>
          
                          <div class="col-lg-6 col-12">
                              <div class="form-group pb-2">
                                  <label for="booking_address">Address</label>
                                  <input
                                    class="form-control"
                                    type="text"
                                    id="ubooking_address"
                                    name="address"
                                    required
                                    style="border: 1px solid #0eb62f"
                                  />
                                </div>
                          </div>
          
          
                      </div>
                      <div class="row">
                          <h6 class="py-2">Pet Details</h6>
                          <div class="col-lg-6 col-12">
                              <div class="form-group pb-2">
                                  <label for="booking_pname">Pet Name</label>
                                  <input
                                    class="form-control"
                                    type="text"
                                    id="ubooking_pname"
                                    name="pname"
                                    required
                                    style="border: 1px solid #0eb62f"
                                  />
                                </div>
                          </div>
          
                          <div class="col-lg-6 col-12">
                              <div class="form-group pb-2">
                                  <label for="booking_pbreed">Breed</label>
                                  <input
                                    class="form-control"
                                    type="text"
                                    id="ubooking_pbreed"
                                    name="pbreed"
                                    required
                                    style="border: 1px solid #0eb62f"
                                  />
                                </div>
                          </div>
          
                          <div class="col-lg-6 col-12">
                              <div class="form-group pb-2">
                                  <label for="booking_page">Age</label>
                                  <input
                                    class="form-control"
                                    type="text"
                                    id="ubooking_page"
                                    name="page"
                                    required
                                    style="border: 1px solid #0eb62f"
                                  />
                                </div>
                          </div>
          
                          <div class="col-lg-6 col-12">
                              <div class="form-group pb-2">
                                  <label for="booking_pcolor">Color</label>
                                  <input
                                    class="form-control"
                                    type="text"
                                    id="ubooking_pcolor"
                                    name="pcolor"
                                    required
                                    style="border: 1px solid #0eb62f"
                                  />
                                </div>
                          </div>
          
                          <div class="col-lg-6 col-12">
                              <div class="form-group pb-2">
                                  <label for="booking_pgender">Gender</label>
                                  <input
                                    class="form-control"
                                    type="text"
                                    id="ubooking_pgender"
                                    name="pgender"
                                    required
                                    style="border: 1px solid #0eb62f"
                                  />
                                </div>
                          </div>
          
                          <div class="col-lg-6 col-12">
                              <div class="form-group pb-2">
                                  <label for="booking_pdisease">Name of Disease <span class="text-danger">(If any)</span> </label>
                                  <input
                                    class="form-control"
                                    type="text"
                                    id="ubooking_pdisease"
                                    name="pdisease"
                                    required
                                    style="border: 1px solid #0eb62f"
                                  />
                                </div>
                          </div>
          
                          <div class="col-lg-6 col-12">
                              <div class="form-group pb-2">
                                  <label for="booking_pmedication">Any Ongoing Medication </label>
                                  <input
                                    class="form-control"
                                    type="text"
                                    id="ubooking_pmedication"
                                    name="pmedication"
                                    required
                                    style="border: 1px solid #0eb62f"
                                  />
                                </div>
                          </div>
          
                          <div class="col-lg-6 col-12">
                              <div class="form-group pb-2">
                                  <label for="booking_visit">Purpose of Visit </label>
                                  <input
                                    class="form-control"
                                    type="text"
                                    id="ubooking_visit"
                                    name="visit"
                                    required
                                    style="border: 1px solid #0eb62f"
                                  />
                                </div>
                          </div>
          
                          <div class="col-12">
                              <div class="form-group pb-2">
                                  <label for="booking_symptoms">Symptoms of Disease </label>
                                  <textarea
                                    class="form-control"
                                    type="text"
                                    id="ubooking_symptoms"
                                    name="symptoms"
                                    required
                                    style="border: 1px solid #0eb62f"
                                  > </textarea>
                                </div>
                          </div>
          
                      </div>
          
                      <div class="row">
                          <h6 class="py-2">Method of Treatment</h6>
                          <div class="col-lg-6 col-12">
                              <div class="form-group pb-2">
                                  <label for="booking_method">Method</label>
                                  <input
                                    class="form-control"
                                    type="text"
                                    id="ubooking_method"
                                    name="method"
                                    required
                                    style="border: 1px solid #0eb62f"
                                  />
                                </div>
                          </div>
          
                          <div class="col-lg-6 col-12">
                              <div class="form-group pb-2">
                                  <label for="booking_city">City</label>
                                  <input
                                    class="form-control"
                                    type="text"
                                    id="ubooking_city"
                                    name="city"
                                    required
                                    style="border: 1px solid #0eb62f"
                                  />
                                </div>
                          </div>
          
                          <div class="col-lg-6 col-12">
                              <div class="form-group pb-2">
                                  <label for="booking_tole">Tole</label>
                                  <input
                                    class="form-control"
                                    type="text"
                                    id="ubooking_tole"
                                    name="tole"
                                    required
                                    style="border: 1px solid #0eb62f"
                                  />
                                </div>
                          </div>
          
                          <div class="col-lg-6 col-12">
                              <div class="form-group pb-2">
                                  <label for="booking_house">House Number</label>
                                  <input
                                    class="form-control"
                                    type="text"
                                    id="ubooking_house"
                                    name="house_number"
                                    required
                                    style="border: 1px solid #0eb62f"
                                  />
                                </div>
                          </div>
          
                          <div class="col-lg-6 col-12">
                              <div class="form-group pb-2">
                                  <label for="booking_bdate">Date</label>
                                  <input
                                    class="form-control"
                                    type="date"
                                    id="ubooking_bdate"
                                    name="bdate"
                                    required
                                    style="border: 1px solid #0eb62f"
                                  />
                                </div>
                          </div>
          
                          <div class="col-lg-6 col-12">
                              <div class="form-group pb-2">
                                  <label for="booking_btime">Time</label>
                                  <input
                                    class="form-control"
                                    type="time"
                                    id="ubooking_btime"
                                    name="btime"
                                    required
                                    style="border: 1px solid #0eb62f"
                                  />
                                </div>
                                <div class="text-muted">Time may vary according to availability.</div>
                          </div>
                      </div>
          
                      <div class="col-lg-6 col-12">
                        <div class="form-group pb-2">
                            <label for="booking_doctor">Select Doctor</label>
                            <select class="form-select" id="ubooking_doctor" name="doctor" required style="border: 1px solid #0eb62f">
                                {% for doc in docs %}
                                    <option value="{{ doc.id }}">{{ doc.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
          
                      <div class="text-end pt-2">
                          <button type="button"
                            class="btn btn-blue"
                            style="
                              background: #0a461f;
                              border: none;
                              color: #fff;
                              font-size: 18px;
                              cursor: pointer;
                              transition: background 0.3s ease;
                            "
                            data-bs-toggle="modal" data-bs-target="#confirmbooking"
                          >
                            Confirm
                          </button>
                        </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade" id="confirmbooking" tabindex="-1" aria-labelledby="confirmbooking" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Booking</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Dear customer, the payment of Rs.500 must be done to confirm your booking. Thank you.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  <a href="{% url 'user_payment' %}" button type="submit" class="btn btn-success">Ok</a>
                  </div>
                </div>
              </div>
            </div>
          
          </form>

  </main> 
            
            
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
            <script>
                const sidebarToggle = document.querySelector("#sidebar-toggle");
                sidebarToggle.addEventListener("click",function(){
                    document.querySelector("#sidebar").classList.toggle("collapsed");
                });

                document.querySelector(".theme-toggle").addEventListener("click",() => {
                    toggleLocalStorage();
                    toggleRootClass();
                });

                function toggleRootClass(){
                    const current = document.documentElement.getAttribute('data-bs-theme');
                    const inverted = current == 'dark' ? 'light' : 'dark';
                    document.documentElement.setAttribute('data-bs-theme',inverted);
                }

                function toggleLocalStorage(){
                    if(isLight()){
                        localStorage.removeItem("light");
                    }else{
                        localStorage.setItem("light","set");
                    }
                }

                function isLight(){
                    return localStorage.getItem("light");
                }

                if(isLight()){
                    toggleRootClass();
                }
            </script>

   
        </div>
    </div>
</body>

</html>
