
{%extends "base.html"%} {% load static %} {% block title %} Dashboard
{%endblock%} {% block content %}
<div class="container">
  <div class="py-5">
    <div class="fs-4 fw-light text-muted pb-2 text-center">Register As:</div>
    <div class="row pt-3">
      <div class="col-lg-4 mx-auto ">
        <div class="card" style="background-color: #88b4ab; border: none;">
          <div class="card-body">
            <div class="w-100 pb-3">
              <button class="w-100 rounded border-0 bg-white fs-4 py-2" data-bs-toggle="modal" data-bs-target="#clinicowner">
                <i class="fa-solid fa-house-chimney-medical  pe-2 "></i>Clinic Owner              
              </button>
            </div>

            <div class="w-100 pb-3">
              <button class="w-100 rounded border-0 bg-white fs-4 py-2"  data-bs-toggle="modal" data-bs-target="#petowner">
                <i class="fa-solid fa-paw pe-2"></i>Pet Owner              
              </button>
            </div>


            <div class="w-100 ">
              <button class="w-100 rounded border-0 bg-white fs-4 py-2"  data-bs-toggle="modal" data-bs-target="#doctor">
                <i class="fa-solid fa-user-doctor pe-2"></i>Doctor              
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Clinic Owner Modal -->
<div class="modal fade" id="clinicowner" tabindex="-1" aria-labelledby="clinicowner" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Registration</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="">
        <div class="modal-body">
          <div class="mx-auto">
            <div class="form-group pb-2">
              <label for="clinic_owner_first_name">First Name</label>
              <input
                class="form-control"
                type="text"
                id="owner_first_name"
                name="first-name"
                required
                style="border: 1px solid #0eb62f"
              />
            </div>
            <div class="form-group pb-2">
              <label for="clinic_owner_last_name">Last Name</label>
              <input
                class="form-control"
                type="text"
                id="owner_last_name"
                name="last-name"
                required
                style="border: 1px solid #0eb62f"
              />
            </div>
            <div class="form-group pb-2">
              <label for="clinic_owner_login_email">Email</label>
              <input
                class="form-control"
                type="email"
                id="owner_login_email"
                name="login-email"
                required
                style="border: 1px solid #0eb62f"
              />
            </div>
            <div class="form-group pb-2">
              <label for="clinic_owner_login_password">Password</label>
              <input
                class="form-control"
                type="password"
                id="owner_login_password"
                name="password"
                required
                style="border: 1px solid #0eb62f"
              />
            </div>
          </div>
        </div>
        <div class="modal-footer text-center">
          <button
            type="submit"
            class="btn btn-blue"
            style="
              background: #0a461f;
              border: none;
              color: #fff;
              font-size: 18px;
              cursor: pointer;
              transition: background 0.3s ease;
            "
          >
            Register
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Pet Owner Modal -->
<div class="modal fade" id="petowner" tabindex="-1" aria-labelledby="petowner" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Registration</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="post" action="{% url 'petRegistration' %}">
              <div class="modal-body">
                {% csrf_token %} 
                  <div class="mx-auto">
                      <div class="form-group pb-2">
                          <label for="pet_owner_reg_first_name">First Name</label>
                          <input
                              class="form-control"
                              type="text"
                              id="preg_first_name"
                              name="first-name"
                              required
                              style="border: 1px solid #0eb62f"
                          />
                      </div>
                      <div class="form-group pb-2">
                          <label for="pet_owner_reg_last_name">Last Name</label>
                          <input
                              class="form-control"
                              type="text"
                              id="preg_last_name"
                              name="last-name"
                              required
                              style="border: 1px solid #0eb62f"
                          />
                      </div>
                      <div class="form-group pb-2">
                          <label for="pet_owner_login_email">Email</label>
                          <input
                              class="form-control"
                              type="email"
                              id="preg_login_email"
                              name="login-email"
                              required
                              style="border: 1px solid #0eb62f"
                          />
                      </div>
                      <div class="form-group pb-2">
                        <label for="pet_owner_reg_phone_number">Phone Number</label>
                        <input
                            class="form-control"
                            type="tel"
                            id="preg_phone_number"
                            name="phone-number"
                            pattern="\+977 [0-9]{10}"
                            required
                            style="border: 1px solid #0eb62f"
                        />
                        <small>Format: +977 1234567890</small>
                    </div>
                    
                      <div class="form-group pb-2">
                          <label for="preg_gender">Gender</label>
                          <select class="form-control" id="gender" name="gender" required>
                              <option value="male">Male</option>
                              <option value="female">Female</option>
                              <option value="other">Other</option>
                          </select>
                      </div>
                      <div class="form-group pb-2">
                          <label for="pet_onwer_reg_password">Password</label>
                          <input
                              class="form-control"
                              type="password"
                              id="preg_password"
                              name="password"
                              required
                              style="border: 1px solid #0eb62f"
                          />
                      </div>
                      <div class="form-group pb-2">
                          <label for="pet_owner_reg_address">Address</label>
                          <textarea class="form-control" id="preg_address" name="address"></textarea>
                      </div>
                  </div>
              </div>
              <div class="modal-footer text-center">
                  <button
                      type="submit"
                      class="btn btn-blue"
                      style="
                          background: #0a461f;
                          border: none;
                          color: #fff;
                          font-size: 18px;
                          cursor: pointer;
                          transition: background 0.3s ease;
                      "
                  >
                      Register
                  </button>
              </div>
          </form>
      </div>
  </div>
</div>

<!-- Doctor Modal -->
<div class="modal fade" id="doctor" tabindex="-1" aria-labelledby="doctor" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Registration</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="">
        <div class="modal-body">
          <div class="mx-auto">
            <div class="form-group pb-2">
              <label for="doctor_reg_first_name">First Name</label>
              <input
                class="form-control"
                type="text"
                id="dreg_first_name"
                name="first-name"
                required
                style="border: 1px solid #0eb62f"
              />
            </div>
            <div class="form-group pb-2">
              <label for="doctor_reg_last_name">Last Name</label>
              <input
                class="form-control"
                type="text"
                id="dreg_last_name"
                name="last-name"
                required
                style="border: 1px solid #0eb62f"
              />
            </div>
            <div class="form-group pb-2">
              <label for="doctor_reg_phone_number">Phone Number</label>
              <input
                class="form-control"
                type="tel"
                id="dreg_phone_number"
                name="phone-number"
                pattern="\+977 [0-9]{10}"
                required
                style="border: 1px solid #0eb62f"
              />
              <small>Format: +977 1234567890</small>
            </div>
            <div class="form-group pb-2">
              <label for="doctor_reg_qualification">Qualification</label>
              <input
                class="form-control"
                type="text"
                id="dreg_qualification"
                name="qualification"
                required
                style="border: 1px solid #0eb62f"
              />
            </div>
            <div class="form-group pb-2">
              <label for="doctor_reg_university_name">University Name</label>
              <input
                class="form-control"
                type="text"
                id="dreg_university_name"
                name="university-name"
                required
                style="border: 1px solid #0eb62f"
              />
            </div>
            <div class="form-group pb-2">
              <label for="doctor_reg_password">Password</label>
              <input
                class="form-control"
                type="password"
                id="dreg_password"
                name="password"
                required
                style="border: 1px solid #0eb62f"
              />
            </div>
            <div class="form-group pb-2">
              <label for="doctor_reg_nmc_number">NMC Number</label>
              <input
                class="form-control"
                type="text"
                id="dreg_nmc_number"
                name="nmc-number"
                required
                style="border: 1px solid #0eb62f"
              />
            </div>
            <div class="form-group pb-2">
              <label for="doctor_reg_email">Email</label>
              <input
                class="form-control"
                type="email"
                id="dreg_email"
                name="email"
                required
                style="border: 1px solid #0eb62f"
              />
            </div>
            <div class="form-group pb-2">
              <label for="doctor_reg_gender">Gender</label>
              <select class="form-control" id="dreg_gender" name="gender" required>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
              </select>
            </div>
            <div class="form-group pb-2">
              <label for="doctor_reg_address">Address</label>
              <textarea class="form-control" id="dreg_address" name="address"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer text-center">
          <button
            type="submit"
            class="btn btn-blue"
            style="
              background: #0a461f;
              border: none;
              color: #fff;
              font-size: 18px;
              cursor: pointer;
              transition: background 0.3s ease;
            "
          >
            Register
          </button>
        </div>
      </form>
    </div>
  </div>
</div>



{% endblock %}
