{% extends "main/base.html" %}
{% load static %}
{% block content %}


<!-- Defines a block named 'content' -->
<!-- Start Banner section -->
<section class="banner-section">
    <!-- Container to hold the content within a specified width -->
    <div class="container">
        <!-- Column for text content (6 columns on medium-sized screens and above) same for footer -->
        <div class="row">
            <!-- Banner text content -->
            <div class="banner-text text-center">
                <!-- Main heading of the banner section -->
                <h1>Welcome to TailTales!</h1>
                <!-- Subheading or description of the banner section -->
                <p style="text-align: center; font-size: 24px;">
                    "Compassionate veterinary professionals dedicated to exceptional pet
                    care."
                </p>

                <!-- Buttons for user interaction -->
                <div class="btn-main">
                    <a href="{% url 'appointment_booking' %}" class="btn btn-outline-light">Book Appointment</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Banner section -->

<!-- About Us Section -->
<section class="about-section">
    <div class="container">
        <div class="row">
            <!-- Column for the first about box (occupies 4 out of 12 columns on large and extra-large screens) -->
            <div class="col-lg-4">
                <div class="about-box">
                    <div class="about-img">
                        <img src="{% static 'image/about1.jpg' %}" alt="about1" />
                    </div>
                    <div class="about-info">
                        <h3>Our Mission</h3>
                        <p style="text-align: justify; font-size: 18px;">
                            We are dedicated to promoting the well-being of animals through
                            compassionate care, advanced medical services, and client
                            education. We want the best your pets.
                        </p>
                        <a href="{% url 'about' %}" class="read-more-btn">Read More</a>
                    </div>
                </div>
            </div>

            <!-- Column for the second about box (occupies 4 out of 12 columns on large and extra-large screens) -->
            <div class="col-lg-4">
                <div class="about-box">
                    <div class="about-img">
                        <img src="{% static 'image/about2.jpg' %}" alt="about2" />
                    </div>
                    <div class="about-info">
                        <h3>Experienced Team</h3>
                        <p style="text-align: justify; font-size: 18px;">
                            Our team of skilled veterinarians and staff members work together
                            to provide personalized and comprehensive healthcare for your
                            beloved pets.
                        </p>
                        <a href="{% url 'about' %}" class="read-more-btn">Read More</a>
                    </div>
                </div>
            </div>

            <!-- Column for the third about box (occupies 4 out of 12 columns on large and extra-large screens) -->
            <div class="col-lg-4">
                <div class="about-box">
                    <div class="about-img">
                        <img src="{% static 'image/about3.jpg' %}" alt="about3" />
                    </div>
                    <div class="about-info">
                        <h3>Community Engagement</h3>
                        <p style="text-align: justify; font-size: 18px;">
                            We actively engage with the community, offering educational
                            programs and health services to promote responsible pet ownership
                            and animal welfare.
                        </p>
                        <a href="{% url 'about' %}" class="read-more-btn">Read More</a>
                    </div>
                </div>
            </div>

            <!-- End About Us Section -->


            <!-- Service Packages Section -->
            <section class="service-packages">
                <!-- Introductory Section -->
                <div class="intro-main text-center">
                    <h2>Our Services</h2>
                    <p style="text-align: center; font-size: 24px;">All our services are available for you!</p>
                    <a href="{% url 'service' %}" class="btn btn-primary">View all services</a>
                </div>
                <br>
                <!-- General Checkup Package -->
                <div class="container">
                    <div class="row">
                        {% for s in service %}
                        <div class="col-md-4">
                            <div class="package">
                                {% if s.image %}
                                <img src="{{MEDIA_URL}}{{s.image}}" alt="" style="height: 150px; width: 150px; border-radius: 50%; object-fit: cover; margin-bottom: 20px;">
                                {% else %}
                                <img src="{% static 'image/logo.png' %}" alt="" style="height: 150px; width: 150px; border-radius: 50%; object-fit: cover; margin-bottom: 20px;">
                                {% endif %}
                                <h3>{{ s.title }}</h3>
                                <p class="price">NPR. {{ s.price }}</p>
                                <a href="{% url 'appointment_booking' %}" class="btn btn-success book-now-btn">Book Now</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
            <!-- End of Service Section -->

            <!-- VetCare Team Section -->
            <section class="team-section">
                <!-- Introductory Section -->
                <div class="intro-main text-center">
                    <h2>Our VetCare Team</h2>
                    <p style="text-align: center; font-size: 24px;">Meet our experienced veterinary professionals dedicated to providing top-quality care for your
                        pets.</p>
                    <a href="{% url 'team' %}" class="btn btn-primary">View all doctors</a>
                </div>
                <br>
                <!-- Individual Team Members -->
                <div class="container">
                    <div class="row">
                        {% for doctor in doctor %}
                        <div class="col-md-4">
                            <!-- Doctor 1 -->
                            <div class="team-box">
                                <div class="team-img">
                                    {% if doctor.image %}
                                    <img src="{{ MEDIA_URL }}{{ doctor.image }}" alt="Doctor img" />
                                    {% else %}
                                    <img src="{% static 'image/logo.png' %}" alt="ALternative img">
                                    {% endif %}
                                </div>
                                <div class="team-info">
                                    <h3>{{ doctor.user.first_name }} {{ doctor.user.last_name }}</h3>
                                    <p>{{ doctor.service_type }}</p>
                                    <p>{{ doctor.qualification }}</p>
                                    <a href="{% url 'appointment_booking' %}" class="btn btn-success book-appointment-btn">Book Appointment</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </section>

            <!-- End of VetCare Team Section -->



            <!-- Start Contact Us Section -->
            <section class="contact-us-section" style="
                    padding: 100px 0;
                    text-align: center;
                    background: #e6efed;
                    color: #1c1a1a;">
                <!-- Container to hold the content within a specified width -->
                <div class="container">
                    <!-- Contact Form Content -->
                    <div class="contact-form px-md-5">
                        <!-- Section Title -->
                        <h2>Contacts</h2>
                        <!-- Description -->
                        <p style="font-size: 24px;">
                            Have a question? Contact us whenever you have any questions. We are
                            always here for you!
                        </p>
                        <!-- Contact Form -->
                        <form action="{% url 'save_contact' %}" method="post">
                            <div class="row">
                                {% csrf_token %}
                                <!-- First Name Input Field -->
                                <div class="col-md-6 col-12">
                                    <div class="form-group pb-2">
                                        <label for="contact-first-name" style="font-size: 20px;">First Name</label>
                                        <input class="form-control" type="text" id="c-first-name" name="first-name"
                                            required class="p-1 fs-4 bg-transparent"
                                            style="border: 1px solid #0eb62f" />
                                    </div>
                                </div>

                                <!-- Last Name Input Field -->
                                <div class="col-md-6 col-12">
                                    <div class="form-group pb-2">
                                        <label for="contact-last-name" style="font-size: 20px;">Last Name</label>
                                        <input class="form-control" type="text" id="c-last-name" name="last-name"
                                            required class="p-1 fs-4 bg-transparent"
                                            style="border: 1px solid #0eb62f" />
                                    </div>
                                </div>
                                <!-- Email Address Input Field -->
                                <div class="col-md-6 col-12">
                                    <div class="form-group pb-2">
                                        <label for="contact-email" style="font-size: 20px;">Email address</label>
                                        <input class="form-control" type="email" id="c-email" name="email" required
                                            class="p-1 fs-4 bg-transparent" style=" border: 1px solid #0eb62f" />
                                    </div>
                                </div>

                                <!-- Phone Input Field -->
                                <div class="col-md-6 col-12">
                                    <div class="form-group pb-2">
                                        <label for="contact-phone" style="font-size: 20px;">Phone</label>
                                        <input class="form-control" type="tel" id="c-phone" name="phone"
                                            class="p-1 fs-4 bg-transparent" style=" border: 1px solid #0eb62f" required />
                                    </div>
                                </div>

                                <!-- Notes Textarea -->
                                <div class="col-12">
                                    <div class="form-group pb-2">
                                        <label for="contact-notes" style="font-size: 20px;">Notes</label>
                                        <textarea class="form-control" id="c-notes" name="notes" rows="4" required
                                            class="p-1 fs-4 bg-transparent" style="
                 border: 1px solid #0eb62f;
                 resize: vertical"></textarea>
                                    </div>
                                </div>
                            </div>

                            <!-- Submit Button -->
                            <button type="submit" class="btn btn-blue" style="
            background: #0a461f;
            border: none;
            color: #fff;
            padding: 12px 24px;
            font-size: 20px;
            cursor: pointer;
            transition: background 0.3s ease;
          ">
                                SUBMIT
                            </button>
                        </form>
                    </div>
                </div>
            </section>

            {% endblock %}