{% extends "main/base.html" %}

{% load static %}

{% block title %} Dashboard {% endblock %}

{% block content %}
<div class="container">
  <div class="row py-5">

    <!-- Login Form Centered in the Entire Row -->
    <div class="col-md-6 offset-md-3 col-12">
    
          <!-- Box around the Login Form -->
          <div class="login-box p-4" style="
          border: 1px solid #ccc;
          border-radius: 10px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        ">

     <!-- Font 4: Verdana, Geneva, sans-serif -->
     <div class="fs-4 fw-light text-muted pb-2 text-center" style="font-family: 'Verdana', 'Geneva', sans-serif; color: black; font-size: 30px !important;">Register</div>

        
      <form action="{% url 'do_register' %}" method="post">
        <!-- Registration Form -->
        <div class="row py-4">
          {% csrf_token %}
          <!-- First Name Input Field -->

          <div class="col-lg-7 col-md-12 col-8 mx-auto">
            <div class="form-group pb-2">
              <label for="user_first_name" style="font-size: 20px;">First Name</label>
              <input class="form-control" type="text" id="ureg-first-name" name="reg-first-name" required
                style="border: 1px solid #0eb62f" />
            </div>
          </div>

          <!-- Last Name Input Field -->
          <div class="col-lg-7 col-md-12 col-8 mx-auto">
            <div class="form-group pb-2">
              <label for="user_last_name" style="font-size: 20px;">Last Name</label>
              <input class="form-control" type="text" id="ureg-last-name" name="reg-last-name" required
                style="border: 1px solid #0eb62f" />
            </div>
          </div>

          <!-- Email Input Field -->
          <div class="col-lg-7 col-md-12 col-8 mx-auto">
            <div class="form-group pb-2">
              <label for="user_registration_email" style="font-size: 20px;">Email</label>
              <input class="form-control" type="email" id="ureg-email" name="reg-email" required
                style="border: 1px solid #0eb62f" />
            </div>
          </div>

          <!-- Phone Number Input Field -->
          <div class="col-lg-7 col-md-12 col-8 mx-auto">
            <div class="form-group pb-2">
              <label for="user_phone" style="font-size: 20px;">Phone Number</label>
              <input class="form-control" type="tel" id="ureg-phone" name="reg-phone" required
                style="border: 1px solid #0eb62f" />
            </div>
          </div>

          <!-- Address Input Field -->
          <div class="col-lg-7 col-md-12 col-8 mx-auto">
            <div class="form-group pb-2">
              <label for="user_address" style="font-size: 20px;">Address</label>
              <input class="form-control" type="text" id="ureg-address" name="reg-address" required
                style="border: 1px solid #0eb62f" />
            </div>
          </div>

          <!-- Gender Input Field -->
          <div class="col-lg-7 col-md-12 col-8 mx-auto">
            <div class="form-group pb-2">
              <label for="user_gender" style="font-size: 20px;">Gender</label>
              <select class="form-select" id="ureg-gender" name="reg-gender" required style="border: 1px solid #0eb62f">
                <option value="" selected disabled>Select Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
              </select>
            </div>
          </div>

          <!-- Password Input Field
          <div class="col-lg-7 col-md-12 col-8 mx-auto">
            <div class="form-group pb-2">
              <label for="user_registration_password">Password</label>
              <input class="form-control" type="password" id="ureg-password" name="reg-password" required
                style="border: 1px solid #0eb62f" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
								title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"/>
            </div>
          </div>
          <div class="col-lg-7 col-md-12 col-8 mx-auto">
            <div class="form-group pb-2">
              <label for="user_registration_password">Confirm Password</label>
              <input class="form-control" type="password" id="reg-confirm-password" name="reg-confirm-password" required
                style="border: 1px solid #0eb62f" />
            </div>
          </div> -->


      


<!-- Password Input Field with Embedded Show Password Eye Icon -->
<div class="col-lg-7 col-md-12 col-8 mx-auto">
  <div class="form-group pb-2">
    <label for="user_registration_password" style="font-size: 20px;">Password</label>
    <div class="input-group">
      <input class="form-control" type="password" id="ureg-password" name="reg-password" required
        style="border: 1px solid #0eb62f; padding-right: 38px; position: relative; height: 40px;" 
        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
        title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"/>
      <div class="input-group-append" style="position: absolute; top: 0; bottom: 0; right: 0; height: 100%;">
        <span class="input-group-text" style="height: 100%; background: none; border: none;" onclick="togglePasswordVisibility('ureg-password', 'eye-icon-ureg')">
          <i id="eye-icon-ureg" class="fas fa-eye-slash" style="height: 100%; background: none;"></i>
        </span>
      </div>
    </div>
  </div>
</div>

<!-- Confirm Password Input Field with Embedded Show Password Eye Icon -->
<div class="col-lg-7 col-md-12 col-8 mx-auto">
  <div class="form-group pb-2">
    <label for="user_registration_password" style="font-size: 20px;">Confirm Password</label>
    <div class="input-group">
      <input class="form-control" type="password" id="reg-confirm-password" name="reg-confirm-password" required
        style="border: 1px solid #0eb62f; padding-right: 38px; position: relative; height: 40px;" />
      <div class="input-group-append" style="position: absolute; top: 0; bottom: 0; right: 0; height: 100%;">
        <span class="input-group-text" style="height: 100%; background: none; border: none;" onclick="togglePasswordVisibility('reg-confirm-password', 'eye-icon-reg-confirm')">
          <i id="eye-icon-reg-confirm" class="fas fa-eye-slash" style="height: 100%; background: none;"></i>
        </span>
      </div>
    </div>
  </div>
</div>

       




          <!-- Terms and Conditions Checkbox -->
          <div class="col-lg-7 col-md-12 col-8 mx-auto">
            <div class="form-check pb-2">
              <input class="form-check-input" type="checkbox" id="ureg-terms" name="reg-terms" required />
              <label class="form-check-label" for="ureg-terms" style="font-size: 16px;">
                I agree with all the <a href="{% url 'terms' %}" target="_blank">terms and conditions</a>.
              </label>
            </div>
          </div>


          <!-- Add margin-bottom for space -->
          <div class="mb-3"></div>


          <!-- Submit Button -->
          <div class="text-center">
            <button type="submit" class="btn btn-blue" style="
              background: #0a461f;
              border: none;
              color: #fff;
              padding: 12px 24px;
              font-size: 20px;
              cursor: pointer;
              transition: background 0.3s ease;
            ">
              Register
            </button>
          </div>
      </form>

      <!-- Login Link -->
      <div class="text-center pt-3 text-muted" style="font-size: 20px;">
        Already have an account?<a href="{% url 'login' %}">Login Here!</a>
      </div>


  </div>
</div>
</div>


<!-- The querySelector method to dynamically find the corresponding icon within the same input group. This way, we don't need to manually add IDs to the icon spans  -->

    <!-- <script>
      function togglePasswordVisibility(inputId) {
        var passwordInput = document.getElementById(inputId);
        var passwordToggle = document.querySelector('#' + inputId + ' + .input-group-append i');

        if (passwordInput.type === 'password') {
          passwordInput.type = 'text';
          passwordToggle.className = 'fas fa-eye-slash';
        } else {
          passwordInput.type = 'password';
          passwordToggle.className = 'fas fa-eye';
        }
      }
    </script>  -->



    <!-- Retrieves the eye icon element from the DOM using the provided eyeIconId-->

    <script>
      function togglePasswordVisibility(inputId, eyeIconId) {
        var passwordInput = document.getElementById(inputId);              
        var eyeIcon = document.getElementById(eyeIconId);
    
        if (passwordInput.type === 'password') {
          passwordInput.type = 'text';
          eyeIcon.className = 'fas fa-eye';
        } else {
          passwordInput.type = 'password';
          eyeIcon.className = 'fas fa-eye-slash';
        }
      }
    </script>
    
    
    



{% endblock %}