{% extends "user_nav.html" %}

{% load static %}

{% block title %} Dashboard {% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center py-5"> <!-- Added justify-content-center class -->
    
    <!-- Edit profile Form on the Right Side -->
    <div class="col-md-6 col-12">
      <div class="fs-4 fw-light text-muted pb-2 text-center">Edit Profile</div>

      <!-- Edit Profile Form -->
        <div class="row py-4">
          <!-- First Name Input Field -->
          <div class="col-lg-7 col-md-12 col-8 mx-auto">
            <div class="form-group pb-2">
              <label for="user_first_name">First Name</label>
              <input
                class="form-control"
                type="text"
                id="u-first-name"
                name="user-first-name"
                required
                style="border: 1px solid #0eb62f"
              />
            </div>
          </div>

          <!-- Last Name Input Field -->
          <div class="col-lg-7 col-md-12 col-8 mx-auto">
            <div class="form-group pb-2">
              <label for="user_last_name">Last Name</label>
              <input
                class="form-control"
                type="text"
                id="u-last-name"
                name="user-last-name"
                required
                style="border: 1px solid #0eb62f"
              />
            </div>
          </div>

          <!-- Email Input Field -->
          <div class="col-lg-7 col-md-12 col-8 mx-auto">
            <div class="form-group pb-2">
              <label for="user_registration_email">Email</label>
              <input
                class="form-control"
                type="email"
                id="u-email"
                name="user-email"
                required
                style="border: 1px solid #0eb62f"
              />
            </div>
          </div>

          <!-- Phone Number Input Field -->
          <div class="col-lg-7 col-md-12 col-8 mx-auto">
            <div class="form-group pb-2">
              <label for="user_phone">Phone Number</label>
              <input
                class="form-control"
                type="tel"
                id="u-phone"
                name="user-phone"
                required
                style="border: 1px solid #0eb62f"
              />
            </div>
          </div>

          <!-- Address Input Field -->
          <div class="col-lg-7 col-md-12 col-8 mx-auto">
            <div class="form-group pb-2">
              <label for="user_address">Address</label>
              <input
                class="form-control"
                type="text"
                id="u-address"
                name="user-address"
                required
                style="border: 1px solid #0eb62f"
              />
            </div>
          </div>

          <!-- Address Input Field -->
          <div class="col-lg-7 col-md-12 col-8 mx-auto">
            <div class="form-group pb-2">
              <label for="user_pw">Password</label>
              <input
                class="form-control"
                type="text"
                id="ureg-pw"
                name="reg-pw"
                required
                style="border: 1px solid #0eb62f"
              />
            </div>
          </div>

       

          <!-- Password Input Field -->
          <div class="col-lg-7 col-md-12 col-8 mx-auto">
            <div class="form-group pb-2">
              <label for="user_confirm_password">Confirm Password</label>
              <input
                class="form-control"
                type="password"
                id="ureg-password"
                name="reg-password"
                required
                style="border: 1px solid #0eb62f"
              />
            </div>
          </div>

            <!-- Photo Input Field -->
            <div class="col-lg-7 col-md-12 col-8 mx-auto">
                <label for="photo" class="form-label"> NewPhoto:</label>
                <input type="file" id="user-photo" name="photo" class="form-control">
              </div>
    



        <!-- Submit Button -->
        <div class="text-center py-4">
          <button
            type="submit"
            class="btn btn-blue"
            style="
              background: #4CAF50; /* Green color */
              border: none;
              color: #fff;
              padding: 12px 24px;
              font-size: 18px;
              cursor: pointer;
              transition: background 0.3s ease;
            "
          >
            Confirm
          </button>
        </div>
      </form>


{% endblock %}