{% extends 'main/dashboard.html' %}
{% load static %}
{% block content %}

<main class="content px-3 py-2">
    <!-- Centered Container -->
    <div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
        <!-- Payment Card -->
        <div class="card border-0 p-5" style="max-width: 800px;">
            <h5 class="text-center mb-4">Your payment is NPR. {{ booking.service.price }}</h5>
            <p class="text-center mb-4">To confirm your booking, please pay with Khalti.</p>

            <!-- Pay With Khalti Form -->
            <form id="initKhaltiForm" action="{% url 'initkhalti' %}" method="post" class="text-center">
                {% csrf_token %}
                <input type="hidden" name="purchase_order_id" value="{{ booking.purchase_id }}">
                <input type="hidden" name="amount" value="{{ price }}">
                <input type="hidden" name="return_url" value="http://localhost:8000/user/verifyKhalti">
                <button type="submit" class="btn btn-success btn-block">Pay With Khalti</button>
            </form>

            <!-- Verify Khalti Form -->
            <form id="verifyKhaltiForm" action="{% url 'verifyKhalti' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="pidx" id="pidx">
            </form>

            <!-- Script for Form Submission -->
            <script>
                document.getElementById('initKhaltiForm').addEventListener('submit', function (event) {
                    var pidx = document.getElementById('pidx').value;
                    document.getElementById('verifyKhaltiForm').elements.namedItem('pidx').value = pidx;
                    document.getElementById('verifyKhaltiForm').submit();
                });
            </script>
        </div>
    </div>
</main>

{% endblock %}
